body {
    //background-color: #E9EDEF;
    background-color: #316F61
     }
.card {
    background-color: #52BCA4
}

#title-bar{
    margin-top: 2.5%;
           }

.card {
    border-color: black;
}

.btn {
    white-space:normal !important;

    max-width: 100%;
}


.effect1 a {
	color: #307C40;
}
/*
.effect1 a::before {
	content: attr(data-hover);
	color: #662d91;
	position: absolute;

	transition: transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}
.effect1 a:hover::before,
.effect1 a:focus::before {
	opacity: 0;
}*/

.effect2 a {
    color:#000000;
}