{%extends "chooseASide/base.html"%}

{%block content%}
<div class="row">
  <div class="col-sm-12">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:{{pro_percent}}%;background-color:red;">
        <span style="color:#ffffff">Pro: {{pro_percent}}%</span>
      </div>
      <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{con_percent}}%;background-color:blue;">
        <span style="color:#ffffff">Con: {{con_percent}}%</span>
      </div>
    </div>
    <br>
    <br>
    <h2><a href="{% url 'sides:create_angle'  topic=topic.slug %}">Post about {{topic.title}}</a></h2>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-xs-6">
    <h4 class="text-center">For {{topic.title}}</h4>
    {% for pro in pros%}
      <div class="card card-block">
        <h6 id="{{pro.pk}}_score">Score: {{pro.score}}</h6>
        <p>{{pro.opinion}}</p>
        <button class="btn flow-text" style="word-wrap:break-word;" id="{{pro.pk}}" onclick="sendVote({{pro.pk}}, '{% url 'sides:score'  pk=pro.pk %}');">Like this thought? Click to vote for it</button>
      </div>
    {% endfor %}
  </div>
  <div class="col-xs-6">
    <h4 class="text-center">Against {{topic.title}}</h4>
    {% for con in cons%}
    <div class="card card-block">
        <h6 id="{{con.pk}}_score">Score: {{con.score}}</h6>
        <p>{{con.opinion}}</p>
        <button class="btn" id="{{con.pk}}" onclick="sendVote({{con.pk}}, '{% url 'sides:score'  pk=con.pk %}');">Like this thought? Click to vote for it</button>
    </div>
    {% endfor %}
  </div>
  {% csrf_token %}
  {% load staticfiles %}
  <script src="{% static 'js/vote.js' %}"></script>
</div>
    {%endblock%}
