{%extends "chooseASide/base.html"%}

{% block content %}
<br>
<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Add a Topic</h2>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" value="submit" class="btn">Submit!</button>
        </form>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    {% for topic in topics %}
        <div class="col-sm-4">
            <div style="opacity: 0.2;" class="card card-block">
                  <div class="card-header">
                     <h4>{{topic.title}}</h4>
                  </div>
                <p class="card-text">{{topic.description}}</p>
                <a class="card-link" href="{% url 'sides:topic'  topic=topic.slug %}">View Topic</a>
                <a class="card-link pull-right" href="{% url 'sides:create_angle'  topic=topic.slug %}">Share your thought</a>

            </div>
        </div>
    {% endfor %}

</div>

<script>
function sleep(milliseconds) {
  var start = new Date().getTime();
  for (var i = 0; i < 1e7; i++) {
    if ((new Date().getTime() - start) > milliseconds){
      break;
    }
  }
}

    $( document ).ready(function() {
        $('.card').each(function(i){
            var el = $(this);
          setTimeout(function() {
          el.animate({bottom: '50', opacity: '1.0'}, 800);
            }, i * 300);
        });
});
</script>

{% endblock %}