{%extends "chooseASide/base.html"%}

{% block content %}
<br>
<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Add a Topic</h2>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" value="submit" class="btn">Submit!</button>
        </form>
    </div>
</div>
<div class="row">
    {% for topic in topics %}
        <div class="col-sm-4">
            <div class="card card-block">
                  <div class="card-header">
                     <h4>{{topic.title}}</h4>
                  </div>
                <p class="card-text">{{topic.description}}</p>
                <a class="card-link" href="{% url 'sides:create_angle'  topic=topic.slug %}"> View Topic</a>

            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}