{%extends "chooseASide/base.html"%}

{%block head%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/g/intro.js@2.2.0(introjs-rtl.min.css+introjs.min.css)">
<script src="https://cdn.jsdelivr.net/intro.js/2.2.0/intro.min.js"></script>
{%endblock%}

{% block content %}
<br>
<div class="row" data-intro='Welcome to Angled Attitudes' data-step="1">
    <div class="col-sm-12 text-center">
        <h2 data-intro='All Topics get refreshed every 48 hours' data-step="2">Add a Topic</h2>


        <form method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" value="submit" class="btn">Submit!</button>
        </form>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    {% for topic in topics %}
        <div class="col-sm-4">
            <div style="opacity: 0.2;" class="card card-block">
                  <div class="card-header">
                     <h4>{{topic.title}}</h4>
                  </div>
                <p class="card-text">{{topic.description}}</p>
                <a class="card-link" href="{% url 'sides:topic'  topic=topic.slug %}">View Topic</a>
                <a class="card-link pull-right" href="{% url 'sides:create_angle'  topic=topic.slug %}">Share your thought</a>
                {% if topic.total_angles %}
                    <p><strong>Angles:</strong> {{topic.total_angles}}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>

<script src="/static/js/vote.js"></script>
<script>
function sleep(milliseconds) {
  var start = new Date().getTime();
  for (var i = 0; i < 1e7; i++) {
    if ((new Date().getTime() - start) > milliseconds){
      break;
    }
  }
}


    $( document ).ready(function() {


        $('.card').eq(2).children().eq(3).attr('data-intro', 'Add your thoughts. Earn more points, rank higher');
        $('.card').eq(2).children().eq(3).attr('data-step', '3');
        $('.card').eq(3).children().eq(2).attr('data-intro', 'Vote on other thoughts');
        $('.card').eq(3).children().eq(2).attr('data-step', '4');
        $('.card').eq(1).attr('data-intro', 'More to come including profiles and chances to win!!!');
        $('.card').eq(1).attr('data-step', '5');


        console.log("intro started");
        if(getCookie('visited'))
        {
        console.log("Welcome back!");
        }else
        {
           introJs().start();
           setCookie('visited',1,30);
           console.log("cookie set");
        }

        $('.card').each(function(i){
            var el = $(this);
          setTimeout(function() {
          el.animate({bottom: '50', opacity: '1.0'}, 800);
            }, i * 300);
        });
});
</script>
<footer>Lost? <strong onclick="introJs().start();">Click here!</strong></footer>

{% endblock %}